:root {
    --cardColor: #f1f1f1;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px 0 5px 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

h4 {
    margin: 5px 0 5px 0;
}

.sectionHeading {
    color: #f1f1f1;
    background-color: #292929;
    padding: 10px 0 10px 5px;

}

.filterHeading {
    color: #f1f1f1;
    background-color: #292929;
    padding: 5px 0 5px 5px;
    margin-top: 0;
}

.filters {
    display: flex;
    flex-flow: column;
    background-color: var(--cardColor);
}

.filter {
    margin: 5px 5px 5px 5px;
}

.criminalsContainer {
    display: flex;
    flex-flow: row wrap;
}

.criminal-card {
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 20vw;
    background-color: var(--cardColor);
}

.officersContainer {
    display: flex;
    flex-flow: row wrap;
}

.officer-card {
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 20vw;
    background-color: var(--cardColor);
}