:root {
    --cardColor: #f1f1f1;
    --headingBackgroundColor: #292929;
    --headingCriminalColor: #476048;

    --textColorOnBackground: #f1f1f1;
    --textColor: rgb(40, 40, 40);
}

body {
    color: var(--textColor);
    margin: 0 60px;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px 0 5px 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

h4 {
    margin: 5px 0 5px 0;
}

textarea {
    height: auto;
    overflow: vertical;
    resize: none;
}

.section__h2 {
    color: var(--textColorOnBackground);
    background-color: var(--headingBackgroundColor);
    padding: 10px 0 10px 5px;
}

.section__h3 {
    background-color: var(--headingCriminalColor);
    color: var(--textColorOnBackground);
    padding: 5px 0 5px 5px;
}

.card {
    margin: 0.6rem;
    padding: 0.8rem;
    flex: 1 1 auto;
    background-color: var(--cardColor);
    height: min-content;
    border-radius: 20px;
    box-shadow: 0px 2px 10px #ded6d6;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.filter__heading {
    color: var(--textColorOnBackground);
    background-color: var(--headingBackgroundColor);
    padding: 5px 0 5px 5px;
    margin-top: 0;
}

.filters {
    display: flex;
    flex-flow: column;
    background-color: var(--cardColor);
}

.filter {
    margin: 5px 5px 5px 5px;
}

.container__criminals {
    display: grid;
    grid-auto-flow: row;
}

.h3__criminal-notes {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.note__container--form {
    display: flex;
    flex-flow: column wrap;
    grid-column-start: 1;
    grid-row: 5;
    width: max-content;
    height: max-content;
    padding: 0 15px 15px 15px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(221, 221, 221);
}

.note__form {
    display: flex;
    flex-flow: column wrap;
}

.note-label {
    margin-top: 5px;
}

.note__container--cards {
    display: flex;
    flex-flow: row wrap;
    grid-column: 1 / span 2;
    grid-row: 6;
    height: min-content;
}

.criminals__h2 {
    grid-column: 1 / span 2;
}

.h3__selected-criminals {
    grid-row-start: 2;
    grid-column: 1 / span 2;
}


.card__criminal-container {
    display: flex;
    flex-flow: row wrap;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    margin-top: 10px;
}

.card__officer-container {
    display: flex;
    flex-flow: row wrap;
}