:root {
    --cardColor: #f1f1f1;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px 0 5px 0;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}

h4 {
    margin: 5px 0 5px 0;
}

textarea {
    height: auto;
    overflow: vertical;
    resize: none;
}

.sectionHeading {
    color: #f1f1f1;
    background-color: #292929;
    padding: 10px 0 10px 5px;

}

.filterHeading {
    color: #f1f1f1;
    background-color: #292929;
    padding: 5px 0 5px 5px;
    margin-top: 0;
}

.filters {
    display: flex;
    flex-flow: column;
    background-color: var(--cardColor);
}

.filter {
    margin: 5px 5px 5px 5px;
}

.noteFormContainer {
    display: flex;
    flex-flow: column wrap;
    grid-column-start: 3;
    grid-row: 2 / span 2;
    width: max-content;
    height: max-content;
    padding: 0 15px 15px 15px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgb(221, 221, 221);
}

.note-label {
    margin-top: 5px;
}

.criminals {
    display: grid;
    grid-auto-flow: row;
}

.crimh2 {
    grid-column: 1 / span 3;
}

.criminalSelectH3 {
    margin-left: 5px;
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.criminalsContainer {
    display: flex;
    flex-flow: row wrap;
    grid-column: 1 / span 2;
}

.criminal-card {
    margin: 0.5rem;
    padding: 0.5rem;
    flex: 1 auto;
    background-color: var(--cardColor);
}

.officersContainer {
    display: flex;
    flex-flow: row wrap;
}

.officer-card {
    margin: 0.5rem;
    padding: 0.5rem;
    flex-basis: 20vw;
    background-color: var(--cardColor);
}